{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}
<br>
<div style = "width: 1120px; margin-left: 80px">
    <div class="mb-3">
        {% if blogs %}
            {% for blog in blogs %}
            <div style = "border-style: solid; padding: 50px">
                <div class = "h3">
                    {{blog.title}}
                </div>
                <div class = "lead">
                    {{blog.content}}
                </div>
                <div class = "text-muted">
                    - {{blog.date_posted}}&nbsp;
                    <a href = "{% url 'edit blog' blog_id=blog.id %}" class = "btn btn-primary">Edit</a>&nbsp;
                    <a href = "{% url 'delete blog' blog_id=blog.id %}" class = "btn btn-primary">Delete</a>
                </div>
            </div>
            <br><br>
            {% endfor %}
            <a href = "{% url 'new blog' %}" class = "btn btn-primary">Click here</a> to create a new blog
        {% else %}
            Create your first blog !! <br><br><a href = "{% url 'new blog' %}" class = "btn btn-primary">Click here</a> to create your first blog
        {% endif %}
    </div>
</div>

{% endblock %}